APP_TITLE=Time Manager API
APP_HOST=127.0.0.1
APP_PORT=8000
DEBUG=true

DATABASE_URL=postgresql+psycopg://postgres:1@localhost:5432/time_manager

JWT_SECRET_KEY=change-me-please
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
